In [20]:
import pandas as pd
import numpy as np

data = pd.read_csv('FoodPrice_in_Turkey.csv')
# display(data)

# Tách file data1 gồm 5.000 dòng đầu tiên
data1 = data.loc[:4999,:]
# display(data1)

# Tách file data2 từ dòng thứ 5.000 đến hết
data2 = data.loc[5000:,:]
# display(data2)

# Tách file 3 chứa thông tin giá với số dòng từ bản ghi 1000 đến 2000
data3 = data.loc[1000:2000,'Price']
# display(data3)

# Ghép các dòng từ các file data1 vaf data2
data4 = pd.concat([data1,data2], axis=0)
# data4
data5 = pd.concat([data1,data2,data3],axis=0)
# data5
data6 = data1.append(data2)
# data6
data7 = data1.append(data3)
data7

C:\Users\HP\AppData\Local\Temp\ipykernel_20004\1293215825.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data6 = data1.append(data2)
C:\Users\HP\AppData\Local\Temp\ipykernel_20004\1293215825.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data7 = data1.append(data3)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price,1000,1001,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,National Average,52.0,Rice - Retail,5.0,KG,5.0,2013.0,4.4920,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,National Average,52.0,Rice - Retail,5.0,KG,6.0,2013.0,4.5786,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,National Average,52.0,Rice - Retail,5.0,KG,11.0,2013.0,4.7865,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,National Average,52.0,Rice - Retail,5.0,KG,12.0,2013.0,5.1337,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,National Average,52.0,Rice - Retail,5.0,KG,1.0,2014.0,5.5099,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,Istanbul,244.0,Chickpeas - Retail,5.0,KG,10.0,2019.0,9.3030,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,Istanbul,244.0,Chickpeas - Retail,5.0,KG,11.0,2019.0,9.3457,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,Istanbul,244.0,Chickpeas - Retail,5.0,KG,12.0,2019.0,9.1283,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,Istanbul,254.0,Bananas - Retail,5.0,KG,1.0,2017.0,6.2111,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.4,4.46,...,4.0349,4.6165,5.2342,6.4026,4.3867,3.5717,4.0,3.97,4.01,3.98